/target/
*/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
derby.log

krb5.conf
mvnw
mvnw.cmd
.DS_Store

/metastore_db/
*/metastore_db/



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*/*.iws
*/*.iml
*/*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Perject ###
/path-analyze-service/src/test/resources/hbase/*/*.txt